$var:red;
$var1:green;
$var2:white;

div#one{
    font-style: inherit;
    h1{
        color:$var;
        font-size: 56px;
    }
    p{
        font-size:46px;
    }
    table{
        font-size:36px;
    }
}
body, html {
        height: 100%;
        margin: 0;
}
.bg {
    background-image: url("Vijay-Devarakonda-Age-1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    }
    a:link, a:visited {
        background-color: #1cac47;
        color: white;
        position: absolute;
        padding: 14px 45px;
        text-align: center;
        font-size: 36px;
        text-decoration: none;
        display: inline-block;
        border-radius: 15px;
}
.t1,.t2{
    font-weight: bold;
    text-decoration: none;
}
.t1{
    color:$var1;

}
.t2{
    color:$var;

}