body, html {
    height: 100%;
    margin: 0;
    }
    .bg {
    background-image: url("1865602.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    }
    .navbar {
        overflow: hidden;
        
      }
    .navbar a.one {
        position: absolute;
        font-size: 36px; 
      }
    .navbar a.two {
        position: absolute;
        left: 7%;
        font-size: 36px;       
      }
      .navbar a.three {
        position: absolute;
        left: 15%;
        font-size: 36px;       
      }
    #Movies {
        font-family: "Helvetica", sans-serif;
        border-collapse: collapse;
        
        width: 40%;
    }


    #Movies tr, #Movies td{
        font-size: 40px;
        border: 5px solid rgb(27, 24, 24);
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        
        color:rgb(9, 146, 27);
    }

   
    #Movies th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:rgb(216, 100, 23);
        color:rgb(206, 200, 200);
        font-size: 40px;
        border: 5px solid rgb(27, 24, 24);
        
    }
